<div class="container mt-5">
    <div class="row"> <!--componente-->
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h2 class=" titulo">Tarjeta de credito</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4"> <!--componente-->
        <div class="col-lg-6 caja">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{ accion | uppercase }} Tarjeta</h5>
                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                        <div class="input-group input-group-lg pmb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-regular fa-user" [class.green-icon]="this.form.get('titular')?.valid"
                                    [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group input-group-lg pmb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-regular fa-credit-card"
                                    [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                    [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i>
                            </span>
                            <input formControlName="numeroTarjeta" maxlength="8" type="text" class="form-control"
                                placeholder="09000976462" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group input-group-lg pmb-3 mt-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-calendar"
                                            [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                            [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaExpiracion" maxlength="5" type="text"
                                        class="form-control" placeholder="MM/YY" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-lg pmb-3 mt-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-brands fa-keybase"
                                            [class.green-icon]="this.form.get('cvv')?.valid"
                                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="980"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>

                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button [disabled]="this.form.invalid" class="btn btn-primary btn-hover-scale" type="submit">
                                <i class="fa-solid fa-database"></i>&nbsp; Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col lg-6 caja"> <!--componente-->
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado de Tarjetas</h5>
                </div>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let tarjeta of listTarjetas">
                            <td>{{tarjeta.titular}}</td>
                            <td>{{tarjeta.numeroTarjeta}}</td>
                            <td>{{tarjeta.fechaExpiracion}}</td>
                            <td>
                                <i (click)="editarTarjeta(tarjeta)" class="fa-regular fa-pen-to-square text-info icon-hover"></i>
                            </td>
                            <td>
                                <i (click)="eliminarTarjeta(tarjeta.id)" class="fa-solid fa-trash-can text-danger"></i>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>